<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="golden">
            <file>tests/AcMoviesGoldenTest.php</file>
            <file>tests/EgyptianGoldenTest.php</file>
        </testsuite>
        <testsuite name="live">
            <file>tests/AcMoviesLiveTest.php</file>
            <file>tests/EgyptianLiveTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
